# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# random
*.dSYM

benchmarks/array_benchmark
tests/array_test
tests/linked_list_test
